<div id="<%= dom_id department %>">
  <p>
    <strong>Name:</strong>
    <%= department.name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= department.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= department.phone %>
  </p>

  <p>
    <strong>Hospital:</strong>
    <%= department.hospital_id %>
  </p>

</div>
