<div id="<%= dom_id doctor %>">
  <p>
    <strong>Name:</strong>
    <%= doctor.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= doctor.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= doctor.phone %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= doctor.department_id %>
  </p>

  <p>
    <strong>Speciality:</strong>
    <%= doctor.speciality_id %>
  </p>

</div>
